



<ion-tabs>
  <ion-header slot="top">
    <ion-toolbar color="success">
      <ion-title>
        WhatsApp
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  
  
   
  </ion-toolbar>
  
  </ion-header>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="tab1">
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab1">
      <ion-label>Chat</ion-label>
          </ion-tab-button>

    <ion-tab-button tab="tab2">
   <ion-label>Status</ion-label>
    </ion-tab-button>
     <ion-tab-button tab="tab3">
   <ion-label>Calls</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
 


